body {
  line-height: 1.5em;
}

img {
  display:block;
  margin:auto;
}


#contformulario{
  padding: 60px;
  max-width: 600px;
  background-color: #F97FC7;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Montserrat Light";
}

#continicio {
  padding: 60px;
  max-width: 300px;
  background-color: #F97FC7;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Montserrat Light";
}

#back {
  display: flex;
}

#registro {
  text-align: center;
  border: 1px solid #FE0798;
  margin-top: 2em;
  background-color: #FFB6E7;
}

.formfecha {
  width: auto;
}

form input{
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 1em;
  border-radius: 10px;
}

button {
	display: block;
	background-color: #FE0798;
	padding: 10px 45px 10px 45px;
	border: 0;
	font-size: 1em;
	color: 	white;
  border-radius: 10px;
}
